<div class="dropdown d-inline-block">
    <a class="dropdown-toggle no-caret pl-2 pr-2" id="flags-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="flag-icon {{iconActive}}"></span>
    </a>

    <div class="dropdown-menu dropdown-menu-right rounded-0 mt-3 p-0 box-shadow" aria-labelledby="flags-menu">
        <div class="flags-menu">
            <a class="dropdown-item" href="javascript:void(0);" (click)="changeLang('es')"><span class="flag-icon flag-icon-es mr-2"></span> Español</a>
            <a class="dropdown-item" href="javascript:void(0);" (click)="changeLang('en')"><span class="flag-icon flag-icon-us mr-2"></span> English</a>
        </div>
    </div>
</div>

