<p>
  <ngb-alert>
    <strong>Warning!</strong> User works!
  </ngb-alert>
</p>
<header>

</header>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8"   >
      <form [formGroup] = "form" >
      <legend class="text-center" >
          Formulario - Usuarios <br>
      </legend>

        <div class="form-group" >
          <label class="label-control" >Nombre(s)</label>
          <input formControlName = "name" class="form-control" type="text" placeholder = "Nombre Completo" minlength="2" maxlength="50"  >
          <div class="text-danger" *ngIf="form.controls['name'].hasError('required')  && form.controls['name'].touched " >Nombre es requerido</div>
          <div class="text-danger" *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched  " >Especifica un Nombre real </div>
        </div>
        <div class="form-group">
            <label class="label-control" >Apellido(s)</label>
            <input formControlName = "lastname" class="form-control" type="text" placeholder = "Apellido Completo" minlength="2" maxlength="50" >

          <small class="text-danger" *ngIf="form.controls['lastname'].hasError('required')  && form.controls['lastname'].touched  " >Apellido es requerido</small>
          <small class="text-danger" *ngIf="form.controls['lastname'].hasError('minlength') && form.controls['lastname'].touched  " >Especifica un Apellido real</small>
        </div>

        <div class="form-group">
          <label class="label-control" >DNI</label>
          <input formControlName = "dni" class="form-control" type="text" placeholder = "DNI" minlength="8" maxlength="8"   >
          <small class="text-danger" *ngIf="!form.controls['dni'].valid && form.controls['dni'].touched " >El DNI tiene 8 caracteres</small>
         </div>

         <div class="form-group">
            <label class="label-control" for="" >Fecha de Nacimiento</label>
            <input formControlName = "date"  id="selectDate" type="date" value="190-08-19" class="form-control"  >
            <small class="text-danger" *ngIf="!form.controls['date'].valid  && form.controls['date'].touched  " >Fecha de Nacimiento es requerido</small>
        </div>

         <div class="form-group">
           <label class="label-control" >Usuario</label>
           <input formControlName = "user"  class="form-control" type="text" placeholder = "Usuario" minlength="2" maxlength="50" >
           <small class="text-danger" *ngIf="form.controls['user'].hasError('required')  && form.controls['user'].touched  " >Usuario es requerido</small>
           <small class="text-danger" *ngIf="form.controls['user'].hasError('minlength') && form.controls['user'].touched  " >Especifica un Usuario real</small>
         </div>

          <div class="form-group">
          <label class="label-control" >Contraseña</label>
          <input formControlName = "password" class="form-control" type="password" placeholder = "Password" minlength="2" maxlength="50" >
          <small class="text-danger" *ngIf="form.controls['password'].hasError('required')  && form.controls['password'].touched  " >Contraseña es requerido</small>
          <small class="text-danger" *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched  " >Especifica un Contraseña real</small>
          </div>

          <div class="form-group" >
            <label for="">Tipo de Usuario</label>
            <select formControlName = "type_user"  id="sel"  class="form-control "  >
              <option *ngFor= "let typex of typeUsers" [value] = " typex.id " >
                  {{ typex.tipo_usuario }}
              </option>
            </select>
            <small class="text-danger" *ngIf="!form.controls['type_user'].valid && form.controls['type_user'].touched  " >Especifica un Tipo de Usuario</small>
          </div>
          <div class="form-group "><br>
            <input type="button" (click) ="addUser(form.value)" [disabled]="!form.valid"
            class="btn btn-primary expanded " value="Guardar" size="10" >
          </div>
      </form>
      <ng-template #formInfo>
        <div class="form-container">
            <div class=" row ">
              <h1> {{ name }} </h1>
              <p>{{ lastname }} </p>
            </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div  class="container" >
    <div class="row">
      <div class="col-sm-12">
          <h4>{{ subtitle }} </h4>

          <table class="table " >

              <thead class="table-head text-center">
                <th ><strong>ID</strong> </th>
                <th >Nombre(s)</th>
                <th >Apellido(s)</th>
                <th >DNI</th>
                <th >Fecha de Nacimiento</th>
                <th >Tipo de Usuario</th>
                <th >Usuario</th>
                <th >Password</th>
                <th >Creación del Usuario</th>
                <th *ngIf = " modif != null" >Última Modificación</th>
                <th>Acciones</th>
                <th></th>
              </thead>

              <tbody *ngIf = "status" class="col-6 table-content">
                <tr  class="" *ngFor="let user of users" >
                  <td> {{user.id}} </td>
                  <td> {{user.nombres }} </td>
                  <td> {{user.apellidos}} </td>
                  <td> {{user.dni}} </td>
                  <td> {{user.fecha_nacimiento | date }} </td>
                  <td> {{user.tipo_usuario}} </td>
                  <td> {{user.usuario}} </td>
                  <td> {{user.password }} </td>
                  <td> {{ user.fecha_creacion | date }} </td>
                  <td #modif *ngIf="modif != null" > {{ user.fecha_modificacion  | date }} </td>
                  <td> <input (click)="updateUser()" class="btn btn-primary" type="button" value="Modificar" > </td>
                  <td> <input (click)="deleteUser(user.dni)" class="btn btn-secondary" type="button" value="Eliminar" > </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>

  <div class="row ">
      <div class=" col-sm-12">
          <h4>{{ subtitle2 }} </h4>

          <div class="col-sm-6">
            <div class="input-group">
              <input #tipoUsuario placeholder="Tipo de Usuario" class="form-control" >
              <button (click)="addTypeUser(tipoUsuario.value); tipoUsuario.value='' "
               class="btn btn-primary" >
                Agregar
              </button>
            </div> <br>
          </div>

        <table class="table text-center" >
            <thead class="table-head text-center">
              <th ><strong>ID</strong> </th>
              <th  >Tipo Usuario</th>
              <th >Fecha de Creación</th>
              <th *ngIf=" modtype != null" >Fecha de Modificación</th>
              <th>Acciones</th>
              <th></th>
            </thead>

            <tbody *ngIf = "status" >
              <tr id="listado"  class="col-10"  *ngFor="let type of typeUsers " >
                <td  > {{type.id}} </td>
                <td  > {{type.tipo_usuario}} </td>
                <td> {{type.fecha_creacion | date }} </td>
                <td #modtype *ngIf=" modtype != null" > {{type.fecha_modificacion | date }} </td>
                <td> <input (click) = "updateTypeUser()"  class="btn btn-primary" type="button" value="Modificar" > </td>
                <td> <input (click) = "deleteTypeUser(type.id)" class="btn btn-secondary" type="button" value="Eliminar" > </td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
