.container {
  padding-bottom: 40px;
}

.form {
  margin: 5%;
  padding:10px;
  margin: 5px;
  font-size: 20px;
  font-family: Roboto;
}

.table {
  border: 1px solid #000 ;
  border-collapse: collapse;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-family: Roboto;
}
table td {
  border: 1px solid #000;
  padding: 10px;
}


.table-head {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  font-size:12px;
  font-family: Roboto, sans-serif;
  padding: 10px;
}


